%h1 Tickets

= form_tag search_tickets_path do
  %div
    = label_tag :no, 'reference number'
    %br
    = text_field_tag :no, no
  %div
    = submit_tag 'Search'

= form_tag search_tickets_path do
  %div
    = label_tag :subject, 'subject'
    %br
    = text_field_tag :subject, subject
  %div
    = submit_tag 'Search'

%table
  %tbody
    %tr
      - %w[unsigned open onhold closed].each do |iscope|
        %td
          - if iscope == scope
            = iscope
          -else
            = link_to iscope, scoped_tickets_path(iscope)
- if scope || (subject and tickets)
  %table
    %tbody
    - tickets.each_with_index do |ticket, index|
      %tr
        %td= index.succ
        %td= ticket.name
        %td= ticket.email
        %td= ticket.department
        %td= ticket.subject
