%table
  %tbody
    %tr
      - %w[unsigned open onhold closed].each do |iscope|
        %td
          - if iscope == scope
            = iscope
          -else
            = link_to iscope, scoped_tickets_path(iscope)
%h1 Tickets
- if scope
  %table
    %tbody
    - tickets.each_with_index do |ticket, index|
      %tr
        %td= index.succ
        %td= ticket.name
        %td= ticket.email
        %td= ticket.department
        %td= ticket.subject
