!!!
%html
%head
  %title Support
  = stylesheet_link_tag    "application", :media => "all"
  = javascript_include_tag "application"
  = csrf_meta_tags

%body
  %div
    %div= link_to 'Home', root_url
    %div
      - if current_member
        == Logged in as #{current_member.username}
        = link_to 'Log Out', logout_path, method: 'delete'
      - else
        = link_to 'Log In', login_path

  - flash.each do |name, message|
    = content_tag :div, message, id: "flash_#{name}"

  = yield
